<app-top-left></app-top-left>
<div class="detail">
<div class="row">
    <div class="col-md-8 ant-col-lg-6" *ngFor='let topcard of topcards'>
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="btn btn-lg rounded-circle round round-lg fs-8 d-flex align-items-center justify-content-center bg-light-{{topcard.bgcolor}} text-{{topcard.bgcolor}}">
                        <i class={{topcard.icon}}></i>
                    </div>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">{{topcard.title}}</h3>
                        <small class="text-muted fs-3">{{topcard.subtitle}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<app-saler-ratio></app-saler-ratio>














    <!-- <section class="grid"> -->



        <!-- <div class="small-box bg-info">
            <div class="inner">
                <h3>150</h3>
                <p>New Orders</p>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>

        <div class="small-box bg-success">
            <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>
                <p>Bounce Rate</p>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>

        <div class="small-box bg-warning">
            <div class="inner">
                <h3>44</h3>
                <p>User Registrations</p>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>

        <div class="small-box bg-danger">
            <div class="inner">
                <h3>65</h3>
                <p>Unique Visitors</p>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div> -->

    <!-- </section> -->

</div>


