<app-top-left></app-top-left>

<div class="detail">
    <form [formGroup]="myForm" class="mat-elevation-z8" enctype="multipart/form-data">
        <input type="hidden" formControlName="id">

        <div class="link-nav">
            <a routerLink="/admin/categories">
                <i class="material-icons">keyboard_backspace</i> Back
            </a>
            <h1>Category</h1>
            <span *ngIf="!paramId">Create New</span> <span *ngIf="paramId">Edit</span>
        </div>

        <div class="row">

            <div class="col-md-4 mb-1em">
                <label>Public</label>
                <div>
                    <mat-slide-toggle formControlName="cStatus">Click me</mat-slide-toggle>
                </div>
            </div>
            <div class="col-md-4 mb-1em">
                <label>Featured</label>
                <div>
                    <mat-slide-toggle formControlName="cFeatured">Click me</mat-slide-toggle>
                </div>
            </div>
            <div class="col-md-4 mb-1em">&nbsp;</div>

            <div class="col-md-4">
                <label>Product Name</label>
                <input class="form-control" formControlName="cName">
                <!-- <small class="error" *ngIf="f.cName.invalid && (f.cName.dirty || f.cName.touched)">*Required</small> -->
            </div>
            <div class="col-md-4">
                <label>Slug</label>
                <input class="form-control" formControlName="cSlug">
                <!-- <small class="error" *ngIf="f.cSlug.invalid && (f.cSlug.dirty || f.cSlug.touched)">*Required</small> -->
            </div>

            <div class="col-md-12">
                <label>Images upload</label>
                <input type="file" class="form-control" multiple (change)="selectMultiple($event)">
                <!-- --render images befor upload -->
                <img *ngFor='let url of images' [src]="url" height="150" width="200px" style="margin: 3px;"> <br/>
                <ng-container *ngIf="ImageDefault">
                    <hr>
                    <label>Image</label><br/>
                    <img class="image" src="{{ImageDefault}}" height="auto" width="300px" style="margin: 3px;"> <br/>
                </ng-container>
            </div>

            <div class="col-md-12">
                <label>Description</label>
                <textarea class="form-control" formControlName="cDesc" rows="4"></textarea>
                <!-- <small class="error" *ngIf="f.cDesc.invalid && (f.cDesc.dirty || f.cDesc.touched)">*Required</small> -->
            </div>

            <div class="col-md-12 txt-center">
                <button *ngIf="!paramId" class="btn" (click)="submit()" [disabled]="this.myForm.invalid">Submit</button>
                <button *ngIf="paramId" class="btn" (click)="update()">Update</button>
            </div>
        </div>
    </form>
</div>
