<!-- Main Slider Start -->
<app-main-banner></app-main-banner>
<!-- Main Slider End -->

<!-- Brand Start -->
<app-brand></app-brand>
<!-- Brand End -->

<!-- Feature Start-->
<app-feature></app-feature>
<!-- Feature End-->

<!-- Category Start-->
<app-category></app-category>
<!-- Category End-->

<!-- Call to Action Start -->
<!-- //<app-call-to-action></app-call-to-action> -->
<!-- Call to Action End -->

<!-- Featured Product Start -->
<app-featured-product></app-featured-product>
<!-- Featured Product End -->

<!-- Newsletter Start -->
<app-newsletter></app-newsletter>
<!-- Newsletter End -->

<!-- Recent Product Start -->
<app-recent-product></app-recent-product>
<!-- Recent Product End -->

<!-- Review Start -->
<app-review></app-review>
<!-- Review End -->
