<div class="header-slider normal-slider">
  <div
    class="header-slider-item"
    *ngFor="let img of images; let i = index"
    [ngClass]="img.show === 1 ? 'showThis' : ''"
  >
    <!-- <img src="{{ imgPath }}{{ img.img }}" alt="Slider Image" /> -->
    <img src="../../../../assets/img/slider-1.jpg" alt="Slider Image">
    <div class="header-slider-caption">
            <p>{{img.caption}}</p>
            <a class="btn" href="{{img.link}}" target="_blank" rel="noopener"><i class="fa fa-shopping-cart"></i>Shop Now</a>
        </div>
  </div>
  <button class="prev" (click)="plusSlides(-1)">&#10094;</button>
  <button class="next" (click)="plusSlides(1)">&#10095;</button>
</div>
