<!-- <app-top-left></app-top-left>

<div class="detail">
    <form [formGroup]="myForm" class="mat-elevation-z8" enctype="multipart/form-data">
        <input type="hidden" formControlName="id">

        <div class="link-nav">
            <a routerLink="/admin/orders">
                <i class="material-icons">keyboard_backspace</i> Back
            </a>
            <h1>Orders</h1>
            <span *ngIf="paramId">Create New</span> <span *ngIf="!paramId">Edit</span>
        </div>

        <div class="row">

            <div class="col-md-4">
                <label>Orders Name</label>
                <input class="form-control" formControlName="pName" type="text">
                <small class="error" *ngIf="f.pName.invalid && (f.pName.dirty || f.pName.touched)">*Required</small>
            </div>

            <div class="col-md-4">
                <label>Qty</label>
                <input class="form-control" formControlName="pQty" type="number">
                 <small class="error" *ngIf="f.pQty.invalid && (f.pQty.dirty || f.pQty.touched)">*Required</small>
            </div>

            <div class="col-md-4">
                <label>Price</label>
                <input class="form-control" formControlName="pPrice" pattern="/^[1-9]\d*(((,\d{3}){1})?(\.\d{0,2})?)$/">
                <small class="error" *ngIf="f.pPrice.invalid && (f.pPrice.dirty || f.pPrice.touched)">*Required</small>
            </div>

            <div class="col-md-4">
              <label>Image Uploads</label>
              <img *ngFor='let url of Urls' [src]="url" height="150" width="200px" style="margin: 3px;"> <br/>
              <input type="file" class="form-control" formControlName="pImg" multiple (change)="selectMultiple($event)">
          </div>

            {{myForm.valid}}
            <div class="col-md-12 txt-center">
                <button *ngIf="paramId" class="btn" (click)="submit()" [disabled]="this.myForm.invalid" >Submit</button>
                <button *ngIf="!paramId" class="btn" (click)="update()" [disabled]="this.myForm.invalid">Update</button>
            </div>
        </div>
    </form>
</div> -->